<!DOCTYPE html>
<html>
	<head>
	<title>To-Do List</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'ToDo_List/style.css' %}">
	</head>
	<body>
		<div class="center">

			<h1 style="text-align:center;">To-Do List</h1>
			<form class="" action="{% url 'ToDo_List:index' %}" method="post">
				<div style="display:inline-flex;">
				{% csrf_token %}
				{{form1.as_p}}
			</div>
				<input type="submit" name="AddItem" value="AddItem" >
			</form>


		</div>
		<div id="div1">
			<form class="" action="{% url 'ToDo_List:index' %}" method="post">
		  <table id="tab1">
				<thead>
					<tr>
						<th>No.</th>
						<th>Action</th>
						<th>Due Date</th>
						<th>Status</th>
					</tr>
				</thead>
				{% if latest_action %}
				  {% for a in latest_action %}
						<tr>
				      <td style="text-align: center;">
				       {{a.id}}.
							</td>
							<td>
								{{a.action}}
							</td>
							<td style="text-align: center;">
								{{a.due}}
							</td>
							<td>

									{% csrf_token %}
									<!-- {{form2.as_p}} -->
									<input type="checkbox" id={{a.id}} name="abc" value={{a.id}} onclick="check(this)">
								<!-- </form> -->
							</td>
						</tr>
				    {% endfor %}

				{% else %}
				  <p>No action available. <a href="#">Add some?</a></p>
				{% endif %}
		  </table>
				{% csrf_token %}
				<input class="checkButt" type="submit" name="delete" value="Delete" disabled>
				<input class="checkButt" type="submit" name="form2" value="Done" disabled>
				<button type="button" name="history">
					<a href="{% url 'ToDo_List:history' %}">History</a>
				</button>

			</form>
		</div>
		{% load static %}
		<script type="text/javascript" src="{% static 'ToDo_List/JavaScript.js' %}"></script>

	</body>

</html>
